
//grafika logo KM w sidebarze

.sidebar{
  
    .logo-img img {
      max-width: 70px;
      max-height: 70px;
    }
}

@media (max-width: 911px){
  .sidebar .nav > li.active.active-pro {
    position: relative;
    bottom: unset;
  }
}

#bodyClick {
  position: absolute;
}
