.mainpanel {
    padding: 10px 10px 10px 10px;
    flex-shrink: 0;
    flex-basis: 35%;
    flex: 0 0 35%;
}


.MTableCell-row {
    padding: 12px;

}

.login {
    padding-right: 20px;
}

.modal-title {
    margin-left: 15px;
    margin-top: -3px;
    font-weight: 600;
}

.marbot {
    Margin-bottom: 30px;
    width: 260px;
}

.btn-modal-login {
    width: 160px;
    justify-content: center;
}

.autocenter {
    padding-left: "22px";
    text-align: center;

}

.form-group {
    width: 70%;
    margin: 0 auto;
}


.frodo {
    margin-left: 50px;
    width: 50%;
}

.Dropdown-c {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #495057;
    cursor: default;
    outline: none;
    padding: 8px 0px 8px 10px;
    transition: all 200ms ease;
    width: 100%
}

.left {
    padding-right: 46%
}

.MuiTableCell-root {
    padding: 55px;
}

.rna-container {
    padding: 21
}

.borderidea {
    border: 1px solid #3b85ab;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
}

.btn-fix {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.static-hold {
    white-space: nowrap
}

.ButtonLink {
    position: static;
    white-space: nowrap;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    #fadeshow1 {
        display: none;
    }
}

.btn-nav {
    height: 41px;

}

.nc-simple-add {
    margin-top: 5px !important;
}

.size-up {
    font-size: 20px;
}

.size-up-down {
    margin-left: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 35px;
    font-weight: 600;
}

.Row-fix {
    margin-left: 30px;
    padding-bottom: 2em;
    margin-right: 30px;
}

.Row-fix2 {
    margin-left: 30px;
    margin-right: 30px;
}

.btn-show {
    height: 100%;
    width: 55px;
    font-weight: 600;
}


.tekst {
    margin-left: 2px;
    margin-top: 2px;
    width: auto;
}

.flex-w-r {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-right: -15px;
    margin-left: -15px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Dodaj plik";
}

.margin-250 {
    margin-top: 50%;
    margin-left: -100px;
    align-items: center;
}